.icon-box {
  width: 40px;
  height: 40px;
  /* border: 1px solid gray; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  transition: all ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.items li {
  list-style: none;
  align-items: center;
  text-align: center;
  display: inline-block;
  /* margin: 0 10px; */
  justify-content: center;
  width: 16.66%;
}

.items {
  text-align: center;
  padding: 0 0;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto !important;
}

.space {
  padding: 30px 0;
}
.explore-details h2 {
  margin: 10px 0 20px 0;
}
.icon-box img {
  max-width: 100%;
}
.items p {
  margin: 10px 0;
  font-size: 25px;
  font-family: "poppins";
  font-weight: 500;
  text-align: center;
  line-height: 28px;
}
.items li:hover .icon-box {
  background-color: #3062d9;
}
.space {
  padding: 30px 0;
}
.view {
  float: right;
}
.view a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
  font-family: "poppins";
}
.view a:hover {
  color: #3062d9;
}
.heading h2 {
  font-family: "poppins";
}
.item-box img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  max-height: 230px;
  transition: all ease-in-out 0.3s;
}
.item-box h5 {
  font-family: "poppins";
}
.item-box {
  transition: all ease-in-out 0.3s;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  margin: 10px 0;
}
.item-box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.item-box:hover img {
  transform: scale(1.02);
}
.testim-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 100%;
}
.testim-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid gray;
  margin: 0 auto;
}
.text h5 {
  margin: 10px 0;
  font-size: 20px;
  font-family: "poppins";
}
.text p {
  font-size: 14px;
  color: rgb(90, 83, 83);
  font-family: "poppins";
}

.commment {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  padding: 10px;
  max-width: 300px;
  margin: 10px 10px;
  /* background-color: #fff; */
}
.testim-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* background: linear-gradient(
    110deg,
    rgba(48, 98, 217, 1) 0%,
    rgba(48, 98, 217, 1) 27%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.footer-item img{
  width: 150px;
  /* padding-top: 40px; */
}
.footer-item li {
  list-style: none;
  margin: 10px 0;
}
.footer-item ul {
  padding: 0 0;
  margin: 0 0;
}
.footer-item li a {
  font-size: 14px;
  font-family: "poppins";
  color: gray;
  transition: all ease-in-out 0.3s;
}
.footer-item li a:hover {
  color: black;
}
.footer-item h6 {
  font-size: 18px;
  font-family: "poppins";
  font-weight: 600;
}
.footer-link ul {
  padding: 0 0;
  margin: 0 0;
}
.footer-link li {
  list-style: none;
}
.footer-link li a {
  color: unset;
  font-size: 18px;
  font-weight: 600;
  font-family: "poppins";
}
.footer-link {
  text-align: right;
}
.footer-link li p {
  color: gray;
}
.social {
  padding: 0 0;
  margin: 0 0;
}
.social li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
}
.social i {
  color: black;
  transition: all ease-in-out 0.3s;
  font-size: 22px;
  margin-bottom: 10px;
}
.social i:hover {
  color: #3062d9;
}
.copy {
  font-size: 12px;
  font-family: "poppins";
  color: gray;
}
.footer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.modals {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal-box {
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  margin: 50px 0;
  left: 27%;
}
.modals-header img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.close-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.inner-modal {
  position: relative;
}
.close-btn i {
  color: black;
  font-size: 15px;
  z-index: 1;
}
.modals-detail h5 {
  text-align: center;
  font-family: "poppins";
}
.modals-detail {
  padding: 0 0px;
}
.modals-btns {
  display: inline-flex;
  width: 100%;
  padding: 10px;
}
.next {
  background-color: #3062d9;
  color: #fff;
  font-family: "poppins";
  border: 0;
  border-radius: 8px;
  padding: 5px 20px;
  transition: all ease-in-out;
}
.next:hover {
  background-color: black;
  color: #fff;
}
.back {
  background-color: transparent;
  color: black;
  font-family: "poppins";
  border: 0px solid gray;
  border-radius: 8px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all ease-in-out;
}
.next-btn {
  float: right;
  text-align: right;
  width: 50%;

  /* background-color: aqua; */
}
.back-btn {
  width: 50%;
}
.back:hover {
  background-color: #3062d9;
}
.go2392553372 {
  display: flex;
  margin: 0;
  padding-bottom: 0rem !important;
  list-style-type: none;
}
.go2150698616 {
  display: inline-block;
  text-align: center;
  line-height: unset !important;
  padding: 0 0 !important;
  cursor: pointer;
  min-width: unset !important;
  color: silver;
  border-bottom: 0px solid silver !important;
}
ol,
ul {
  padding-left: 0rem !important;
  padding: 0 0 !important;
  margin: 0 0 !important;
}
.go2150698616:before {
  position: relative;
  float: left;
  left: 50%;
  width: 1.3em;
  line-height: 1.4em;
  border-radius: 50%;
  bottom: 0rem !important;
  display: none !important;
}
.go3842760039:before {
  content: "•";
  color: white;
  background-color: #33c3f0;
  display: none !important;
}
.go169520481 {
  display: none !important;
}
.questions-details {
  padding: 10px 20px;
}
.questions-details label {
  margin-left: 10px;
} 
.categeory_listing {
  padding: 15px 10px;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  margin: 10px 10px !important;
  text-align: center;
}

.iconBoxs {
  /* background-color: #3062d9; */
  background-color: #EF9E3C;

  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
