@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  font-family: 'Nunito';

}
.main {
  padding: 0 0;
  color: white;
  width: 100%;
  height: 100vh;
position: relative;
  overflow: hidden;
  background: url("../images/HEEROO.png");
  /* background-color: rgba(48, 98, 217, 0.2); */
  
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.detail {
  /* position: absolute; */

  z-index: 1;
}
.detail h1 {
  width: 60%;
  font-family: "Nunito";
  /* font-family: "Nunito", sans-serif; */
  font-weight: bolder;
}

.detail h3 {
  font-family: "poppins";
  /* color: gray; */
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.search-box {
  position: relative;
  /* border: 1px solid gray; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2px 5px;
  /* border-radius: 20%; */
  flex-direction: row;
  display: inline-flex;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  /* justify-content: space-between; */
}
.search-box input {
  background-color: transparent;
  border: 0;
  padding: 10px;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.serch {
  width: 100%;
  /* color: #fff; */
  font-family: "poppins";
}
.postal {
  width: 100%;
}
.box {
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  width: 100%;
  border-radius: 8px;
}
.box input {
  border: 0px !important;
  width: 100%;
}
.box2 {
  width: 29%;
  flex-direction: row;
  display: inline-flex;
  align-items: center;
}
.box2 i {
  font-size: 18px;
  /* color: white; */
  margin-left: 5px;
  /* margin-top: 15px; */
}
/* .serch::placeholder {
  color: white;
}
.postal::placeholder {
  color: white;
} */
.p {
  padding: 0 0 !important;
  margin: 0 0 !important;
}
.search-btn {
  background-color: #3062d9;
  border-radius: 8px;
  border: 0;
  padding: 10px 15px;
  transition: all ease-in-out 0.3s;
  color: #fff;
  margin-left: 0px;
}
.search-btn:hover {
  background-color: black;
  color: #ffff;
}
.detail p {
  margin-top: 10px;

  font-size: 18;
  font-family: "poppins";
  font-weight: 500;
}
li a {
  text-decoration: none;
  color: unset;
}

.suggestion-list {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  max-width: 500px;
  
  
}
/* @media screen only and (max-width: 500px) {
  .suggestion-list {
    max-width: 100%;
  }
} */

.suggestion-list li {
  /* color: #fff; */
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 10px 5px;
  color: rgb(34, 32, 32);
}
.suggestion-list li:last-child {
  border-bottom: none; /* Remove bottom border from the last li element */
}
.flex-box {
  display: inline-flex;
}

.MyModal {
  margin-top: 80px;
  z-index: 2000px;
}

.loading {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 110000000001 !important;
  position: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
}
