.transpClas{
  background-color: rgba(0, 0, 0, 1);
  background-color: transparent !important; /* Adjust the alpha value (0.5) to control the opacity */
}
.myNAv{
  transition-duration: 500;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  
}



/* .navbar-brand img {
  width: 130px;
}
nav {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 1px 0px;
  background-color: #ffff;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0rem !important;
}
.nav-link {
  font-family: "Poppins" !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: black !important;
}

.nav-item {
  color: black;
}

.navdrop .dropdown-toggle::after {
  display: none !important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0em solid !important;
  border-right: 0em solid transparent !important;
}

.dropimg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
} */
